.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#div-main-content {
    margin: 5px;
    width: 200px;
    align-content: space-between;
}

#div-main-content > div {
    margin: 3px 0px;
}

#div-title {
    text-align: center;
}

#div-title > h1 {
    margin: 0px;
}

#div-page-status {
    text-align: center;
    color: rgb(231, 0, 0);
    font-weight: bold;
    font-size: medium;
}

#div-page-status.enabled {
    color: rgb(0, 141, 0);
}

#div-parameters {
    align-content: space-between;
}

#div-parameters > div {
    flex-grow: 1;
}

#btn-change-page-status {
    width: 100%;
    height: 100%;
    border-width: 1px;
    background-color: rgb(233, 233, 233);
}

#btn-change-page-status:hover {
    background-color: rgb(202, 202, 202);
}

#div-lists {
    max-height: 200px;
    overflow-y: auto;
}

#div-lists.disabled {
    color: rgb(119, 119, 119);
    pointer-events: none;
}

.item-list {
    margin-bottom: 1px;
}

.item-list:hover {
    background-color: rgb(233, 233, 233);
}

.item-list > p {
    margin: 0px;
    width: 100%;
}

.item-list > button {
    background-color: #ffffff;
    color:rgb(255, 83, 83);
    width: 50px;
    border: none;
}

.item-list > button:hover, .item-list > button:focus {
    background-color: rgb(233, 233, 233);
    color: rgb(255, 0, 0);
}